@model Web.ViewModels.RoutineViewModels.RoutineViewModel

@{
    ViewData["Title"] = "Edit";
}
<h1>Edit</h1>

<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea rows=5 asp-for="Description" class="form-control"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VideoUrl" class="control-label"></label>
                <input asp-for="VideoUrl" class="form-control" />
                <span asp-validation-for="VideoUrl" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary btn-block" />
            </div>
        </form>
    </div>
    <div class="col-md-8">
        <div class="row">
            <div class="form-group col-lg-4">
                <a type="button" class="btn btn-block" asp-controller="Exercise" asp-action="Create" asp-route-id="@Model.Id">Add New Exercise</a>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-lg-4">
                <a type="button" id="AddExerciseFromList" class="btn btn-block">Add From List</a>
            </div>
            <div class="form-group col-lg-8">
                <select name="ExerciseId" asp-items="@ViewBag.ExerciseListItems" class="form-control"></select>
            </div>
        </div>
        <div class="row" id="IndexPartial">
            @if (Model.Exercises != null) {
                @Html.Partial("~/Views/Shared/Partials/_ExerciseRoutineIndexPartial.cshtml", Model.Exercises);
            }
        </div>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
<script>
    $("#AddExerciseFromList").click(function () {
        $.post("/@ViewContext.RouteData.Values["controller"]/AddExerciseToRoutine?exerciseId=" + $("[name=ExerciseId]").val() + "&routineId=@Model.Id", function (data) {
            $("#IndexPartial").html(data);
        });
    });
</script>